TELEGRAM_BOT_TOKEN=
CHAT_IDS=[""]
FETCH_INTERVAL_SECONDS=1200
MATCH_THRESHOLD=0.2
REQUEST_TIMEOUT_SECONDS=20
DETAIL_MIN_DELAY_SECONDS=1.5
DETAIL_MAX_DELAY_SECONDS=3.0
DETAIL_MAX_RETRIES=2
DETAIL_RETRY_BASE_SECONDS=6
